In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import shutil
import pandas as pd
import pathlib
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import matplotlib.figure
from scipy import stats
import seaborn as sns

In [6]:
raw_1 = pd.read_csv('/content/drive/My Drive/Hack2022/dataset_train_1.csv')

In [7]:
raw = pd.read_csv('/content/drive/My Drive/Hack2022/dataset_train_2.csv',header=None)

In [8]:
raw.head(2)

,0,1,2,3,4,5,6,7,8,9,...,470,471,472,473,474,475,476,477,478,479
0,298,296,2,-455,-703,-596,-262,-44,28,92,...,784.0,440.0,5.0,-185.0,-239.0,-314.0,-511.0,-805.0,-1148.0,-1290.0
1,99,75,-228,-588,-583,-465,-394,-363,-339,-257,...,524.0,511.0,489.0,471.0,461.0,464.0,500.0,539.0,565.0,568.0

In [9]:
raw_1.head(2)

,Filename,Test_index,Presentation,Question,Class_label
0,6ffe4933-3202-451b-ae6b-fee85cafc829,2,3,7,1
1,8de3189c-8e95-43a2-b6d2-743f097a57fb,0,1,0,0

In [10]:
result = raw_1.join(raw)

In [11]:
result.head(2)

,Filename,Test_index,Presentation,Question,Class_label,0,1,2,3,4,...,470,471,472,473,474,475,476,477,478,479
0,6ffe4933-3202-451b-ae6b-fee85cafc829,2,3,7,1,298,296,2,-455,-703,...,784.0,440.0,5.0,-185.0,-239.0,-314.0,-511.0,-805.0,-1148.0,-1290.0
1,8de3189c-8e95-43a2-b6d2-743f097a57fb,0,1,0,0,99,75,-228,-588,-583,...,524.0,511.0,489.0,471.0,461.0,464.0,500.0,539.0,565.0,568.0

In [12]:
result = result.dropna()

In [13]:
result

,Filename,Test_index,Presentation,Question,Class_label,0,1,2,3,4,...,470,471,472,473,474,475,476,477,478,479
0,6ffe4933-3202-451b-ae6b-fee85cafc829,2,3,7,1,298,296,2,-455,-703,...,784.0,440.0,5.0,-185.0,-239.0,-314.0,-511.0,-805.0,-1148.0,-1290.0
1,8de3189c-8e95-43a2-b6d2-743f097a57fb,0,1,0,0,99,75,-228,-588,-583,...,524.0,511.0,489.0,471.0,461.0,464.0,500.0,539.0,565.0,568.0
2,c74f5292-c8e8-4ef2-a963-7d035e5e3330,3,3,1,2,-369,-543,-644,-670,-636,...,86.0,90.0,187.0,337.0,495.0,567.0,558.0,527.0,507.0,485.0
3,c856d82f-917e-461c-a91f-5298926b8b31,0,3,6,1,-6,-32,-152,-253,-275,...,240.0,-11.0,-264.0,-332.0,76.0,799.0,810.0,615.0,548.0,556.0
4,00b38188-82ee-4f1d-9661-485338815751,3,1,2,2,165,178,190,202,218,...,-939.0,-924.0,-906.0,-885.0,-865.0,-846.0,-840.0,-883.0,-956.0,-972.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31378,d71f9db8-f93b-4cab-89ce-5d52a6627034,2,3,4,1,-35,-20,-3,20,37,...,205.0,203.0,204.0,206.0,206.0,206.0,212.0,212.0,208.0,198.0
31379,dc61b9b4-2a5d-4a4e-bbbf-ffe039a5aee9,0,1,5,1,-550,-540,-510,-450,-350,...,-790.0,-788.0,-866.0,-975.0,-1111.0,-1239.0,-1268.0,-1258.0,-1240.0,-1220.0
31380,373380a3-7e33-4213-ba1f-761ca348f6a8,3,2,7,2,98,95,126,206,207,...,-223.0,-237.0,-246.0,-211.0,-161.0,-159.0,-210.0,-228.0,-230.0,-225.0
31381,90b19f5e-5be0-4f38-a0e3-06482573effe,0,1,9,1,-365,-264,-184,-58,102,...,45.0,3.0,104.0,189.0,243.0,327.0,466.0,585.0,707.0,772.0
31382,1dc4bd32-b6fc-4ccf-988e-ffcb8bd3fd44,1,2,3,2,-18,-6,6,22,32,...,-376.0,-362.0,-348.0,-336.0,-319.0,-301.0,-284.0,-268.0,-259.0,-310.0

In [14]:
train = result.copy()
del(train['Class_label'])
del(train['Filename'])

In [15]:
train.head(2)

,Test_index,Presentation,Question,0,1,2,3,4,5,6,...,470,471,472,473,474,475,476,477,478,479
0,2,3,7,298,296,2,-455,-703,-596,-262,...,784.0,440.0,5.0,-185.0,-239.0,-314.0,-511.0,-805.0,-1148.0,-1290.0
1,0,1,0,99,75,-228,-588,-583,-465,-394,...,524.0,511.0,489.0,471.0,461.0,464.0,500.0,539.0,565.0,568.0

In [16]:
from sklearn import datasets
from sklearn import metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import lightgbm as ltb

In [18]:
train_nonull = train.dropna()

In [19]:
X_train, X_test, y_train, y_test = train_test_split(train, result.Class_label, test_size=0.3, random_state=1, stratify=y)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(max_depth=7, random_state=0)
clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

RandomForestClassifier(max_depth=7, random_state=0)

In [ ]:
from sklearn.metrics import accuracy_score

y_pred = clf.predict(X_test)
print('Accuracy: %.3f' % accuracy_score(y_test, y_pred))

In [41]:
import pickle
with open('/content/drive/My Drive/Hack2022/model', 'wb') as f:
    pickle.dump(clf, f)